{
  "extends": ["react-app", "react-app/jest"],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/naming-convention": [
          "error",
          {
            "selector": "default",
            "format": [
              "strictCamelCase",
              "StrictPascalCase",
              "UPPER_CASE",
              "snake_case"
            ]
          }
        ]
      }
    }
  ]
}
