@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), url('../public/Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  src: local('Inter'), url('../public/Inter-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: local('Inter'), url('../public/Inter-Light.ttf') format('ttf');
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-color: #bc8cf2;
  --primary-color: #d47ae8;
  --secondary-color: #548cff;
}

[contenteditable]:empty:after,
.forcePlaceholder:after {
  content: attr(placeholder);
  color: #9b9b9b;
}

[contenteditable] {
  outline: none;
}
