.header {
  background-color: var(--header-color);
  padding: 8px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.name {
  font-weight: bold;
  margin-left: 16px;
}
